body{
   background-color: rgb(214, 214,214);
}
.container{
    height:400px;
    width: 440px;
    margin: 80px auto;
    background-color: rgb(214, 214,214);
    position:absolute;
    left: 450px;
    border-color: rgb(214, 214,214);
    border-style:solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

.B1 {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
    
}
.B2 {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

.B3 {
   
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}
.B4 {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

.B5 {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

.B6 {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}
.B7 {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

.B8 {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

.B9 {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

.B0 {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}
.BA {
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 14px;
    background-color:black;
    color: white;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

.B- {
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 14px;
    background-color:black;
    color:white;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

.BC {
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 14px;
    background-color:black;
    color:white;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}
.Bi {
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 14px;
    background-color:black;
    color:white;
    font-size: 40px;
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}
.BX {
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 14px;
    background-color:black;
    
    color:white;
    font-size: 40px;
    height: 60px;
    width:60px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}
.BD {
    border-style:solid;
    border-width: 1px;
    border-color:red;
    border-radius: 14px;
    background-color:red;
    color: white;
    font-size: 27px;
    height: 238px;
    width: 90px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}


.BR {
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color:white;
    color:black;
    font-size: 30px;
    height: 60px;
    width: 420px;
    box-shadow: 5px 5px 10px #b6a9a9,-5px -5px 10px #ffffff;
}

